#Core & Functional Programming
github "ReactiveCocoa/ReactiveCocoa" ~> 6.0.0
github "Wolox/wolmo-core-ios" ~> 2.0.0
github "robb/Cartography" ~> 1.0.1

#github "facebook/Facebook-SDK-Swift" "master"
#github "facebook/facebook-ios-sdk" == 4.21

github "Alamofire/Alamofire" ~> 4.5.0
github "CocoaLumberjack/CocoaLumberjack" ~> 3.2.0
