#Core & Functional Programming
github "ReactiveCocoa/ReactiveCocoa" ~> 4.1.0
github "Simplicity-iOS/wolmo-core-ios" "swift-2.3-migration"
github "robb/Cartography" ~> 0.7.0
github "facebook/facebook-sdk-swift" ~> 0.1.1

github "Alamofire/Alamofire" ~> 3.5.0